body    {
 background-color:  black;  
 color: white;
}

#menu   {
background-color: black;
color:  white;
z-index: 10000;
width: 100vw;
background-color: purple;
font-size:  40px;
font-family:    Impact, Charcoal, sans-serif;
text-align: center;
}

a:hover{
    font-weight: bold;
    color: red;
}

img { 
    border:1px solid #021a40;
    border-color: white;
 }

